# Django
/django/**/__pycache__
/django/**/migrations/*
!/django/**/__init__.py

# Docker
/docker/.env
/docker/db/mysql
/docker/web/logs
/docker/cache/data

# Next
/next/.next
/next/node_modules

# Common
*.vscode
*.DS_Store
